*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

:root{
  --body-color:rgb(25, 48, 165);
  --body-background:#ffffff;
  --body-nav-color:rgb(67, 67, 198);
  --body-login-back:rgb(117, 179, 245);
  --body-nav-back:#f4f8fd;
  --body-main-color:#fff;
}

[data-theme="dark"]{
  --body-main-color:#000;
  --body-color:#fff;
  --body-background:rgb(15, 83, 156);
  --body-nav-color:#fff;
  --body-login-back:#fff;
  --body-nav-back:rgb(15, 83, 156);
}

.app-main{
  display: flex;
  flex-direction: column;
  /* background-color: var(--body-background); */
}

.navbar-container-home{
  
}

.main-home{
  flex:1;
  padding-inline: 1rem;
}

.movie-container{
  position: relative;
  margin-bottom: 1rem;
  backdrop-filter: blur(10px);
}


.header-section-movies{
  margin: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.header-section-movies button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding:0;
  font-size: 1.5rem;
  font-weight: bold;
}

.img-container-api{
  display: flex; /* Change to flex */
  flex-wrap: nowrap; /* Prevent wrapping of items */
  overflow: hidden; /* Hide vertical scrollbar */
  padding-bottom: 1rem; 
}

.card-container{
  width:17vw;
  height:20rem;
  flex: 0 0 auto; /* Prevent shrinking, basis, and growth */
  background-color: rgb(231, 220, 220);
  border-radius: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
  position: relative;
  display: flex;
  z-index: 0;
}

.img-card{
  display: block;
  margin-bottom: 0.5rem;
  height: 100%;
  animation: tillImgCome 0.5s 3 ;
  width: 100%;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.img-card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  /* filter: blur(2px); */
  transition: all 0.5s ease;
}

.img-card img:hover{
  
  filter: blur(0px);
}

.title-card{ 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5rem;
  /* width: 100%; */
}

.title-card p{
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust shadow as needed */
  margin: 0; /* Reset default margin */
  font-size: 1.4rem;
}

.placeholder{
  display: block;
  margin-bottom: 0.5rem;
  height: 100%;
  animation: tillImgCome 0.5s 3 ;
  width: 100%;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.img-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1); /* Adjust opacity as needed */
}

.card-container:hover .img-card::before{
  background-color: rgba(0, 0, 0, 0); /* Adjust opacity as needed */
}



.movie-scroll{
  position: absolute;
  z-index: 11;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  /* background-color: red; */
  backdrop-filter: blur(10px);
  text-decoration: none;
  font-size: 1.5rem;
}

.scroll-right{
  right: 0;
}










@keyframes tillImgCome  {
    0%{
      background-color: rgba(0,0,0,0.2);
    }50%{
      background-color: rgba(255,255,255,0.2);
    }
}



